<ng-scrollbar visibility="always">
  <mat-toolbar color="primary">
    <mat-toolbar-row><span class="center-span">{{title}}</span></mat-toolbar-row>
  </mat-toolbar>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Information">
      
      <div class="grid" *ngIf="loading">
        <div class="panel">
          <ng-progress [color]="'red'" [fixed]="false" id="myProgress"></ng-progress>
        </div>
      </div>

      <div class="container" *ngIf="!loading">
        <div class="flex-container" fxLayoutGap="0px" fxLayout="row" fxLayout.lt-md="column">
          <mat-card fxFlex="50">
            <mat-card-title heading>
              Real-time Data
            </mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <p body-1>
                    Reported Cases: {{cases}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Active Cases: {{active}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Critical Cases: {{critical}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Deaths: {{deaths}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Recoveries: {{recoveries}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Cases Today: {{todayCases}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Deaths Today: {{todayDeaths}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Tests Performed: {{tests}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1> Last Case: {{daysSinceLastCase}}</p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1> Last Death: {{daysSinceLastDeath}}</p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
          <mat-card fxFlex="50">
            <mat-card-title heading>Data Projections</mat-card-title>
            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <p body-1>
                    Cases Per One Million People: {{casesPerOneMillion}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Deaths Per One Million People: {{deathsPerOneMillion}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Tests Per One Million People: {{testsPerOneMillion}}
                  </p>
                </mat-list-item>
              </mat-list>
              <mat-list>
                <mat-list-item>
                  <p body-1>
                    Total Confirmed: {{totalConfirmed}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Total Deaths: {{totalDeaths}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Total Recovered: {{totalRecovered}}
                  </p>
                </mat-list-item>
              </mat-list>
              <mat-card-title heading>Global Data</mat-card-title>

              <mat-list>
                <mat-list-item>
                  <p body-1>
                    Total Confirmed: {{totalConfirmed}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Total Deaths: {{totalDeaths}}
                  </p>
                </mat-list-item>
                <mat-list-item>
                  <p body-1>
                    Total Recovered: {{totalRecovered}}
                  </p>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Timeline">
      <!-- Add the timeline -->
      <vertical-timeline>
        <!-- If no value is passed for the date, the current time is used. -->
        <vertical-timeline-card [dateValue]="timelineElement.date" [timeString]="' '"
          *ngFor="let timelineElement of timelineElements">
          <h1 *ngIf="timelineElement.newCase">+{{timelineElement.newCases}} New Cases</h1>
          <h1 *ngIf="timelineElement.newDeaths">+{{timelineElement.newDeaths}} New Deaths</h1>
          <h1 *ngIf="timelineElement.newRecovered">+{{timelineElement.newRecovered}} New Recoveries</h1>
        </vertical-timeline-card>
      </vertical-timeline>
    </mat-tab>
  </mat-tab-group>
</ng-scrollbar>