<mat-toolbar color="primary"><span>{{title}}</span>
</mat-toolbar>
<ng-scrollbar visibility="always">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Information">
      <div fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="flex-start">
        <mat-card fxFlex="0 1 50%">
          <mat-card-title>
            Real-time Data
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item>
                Reported Cases: {{cases}}
              </mat-list-item>
              <mat-list-item>
                Active Cases: {{active}}
              </mat-list-item>
              <mat-list-item>
                Critical Cases: {{critical}}
              </mat-list-item>
              <mat-list-item>
                Deaths: {{deaths}}
              </mat-list-item>
              <mat-list-item>
                Recoveries: {{recoveries}}
              </mat-list-item>
              <mat-list-item>
                Cases Today: {{todayCases}}
              </mat-list-item>
              <mat-list-item>
                Deaths Today: {{todayDeaths}}
              </mat-list-item>
              <mat-list-item>
                Tests Performed: {{tests}}
              </mat-list-item>
              <mat-list-item> The Last Case Was Reported: {{daysSinceLastCase}}</mat-list-item>
              <mat-list-item> The Last Death Was Reported: {{daysSinceLastDeath}}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="0 1 50%">
          <mat-card-title>Data Projections</mat-card-title>
          <mat-list>
            <mat-list-item>
              Cases Per One Million People: {{casesPerOneMillion}}
            </mat-list-item>
            <mat-list-item>
              Deaths Per One Million People: {{deathsPerOneMillion}}
            </mat-list-item>
            <mat-list-item>
              Tests Per One Million People: {{testsPerOneMillion}}
            </mat-list-item>
          </mat-list>
          <mat-list>
            <mat-list-item>
              <mat-card-title>Global Data</mat-card-title>
            </mat-list-item>
            <mat-list-item>
              Total Confirmed: {{totalConfirmed}}
            </mat-list-item>
            <mat-list-item>
              Total Deaths: {{totalDeaths}}
            </mat-list-item>
            <mat-list-item>
              Total Recovered: {{totalRecovered}}
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Timeline">
      <!-- Add the timeline -->
      <vertical-timeline>
        <!-- If no value is passed for the date, the current time is used. -->
        <vertical-timeline-card [dateValue]="timelineElement.date" [timeString]="'0:00'"
          *ngFor="let timelineElement of timelineElements">
          <h1 *ngIf="timelineElement.newCase">+{{timelineElement.newCases}} New Cases</h1>
          <h1 *ngIf="timelineElement.newDeaths">+{{timelineElement.newDeaths}} New Deaths</h1>
          <h1 *ngIf="timelineElement.newRecovered">+{{timelineElement.newRecovered}} New Recoveries</h1>
        </vertical-timeline-card>
      </vertical-timeline>
    </mat-tab>
  </mat-tab-group>
</ng-scrollbar>